################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/.vs
**/.vscode
**/.vscode
**/.vs
**/.bundle
**/.sass-cache
**/Gemfile.lock
**/_site
**/*.gem
**/*.jekyll-cache